In [65]:
import pandas as pd
from nltk import word_tokenize

In [78]:
test = pd.read_csv('train.csv', header=None)
test.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2635.json,FALSE,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0,1,0,0,0,a mailer
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0,0,1,1,0,a floor speech.
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70,71,160,163,9,Denver
3,1123.json,FALSE,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7,19,3,5,44,a news release
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15,9,20,19,2,an interview on CNN

In [79]:
test.shape

(10268, 14)

In [80]:
def detect_a(s):
    x = [i for i in s.values if len(word_tokenize(i)) > 60]
    for j in range(len(s)):
        for k in range(len(x)):
            if s[j] == x[k]:
                print(j)

In [81]:
detect_a(test[2])

427
1275
4047
4206
5039
5630
6200
7291
7429
7846
8189
8981
9990